<%- include("partials/header.ejs") %>

<form class="create" action="/submit" method="POST">

    <nav class="dropdown">
        <ul>
            <li>
                <div class="dropdown-items">
                    <i class='bx bx-window'></i>
                    <a href="/view">View Post</a>
                </div>
            </li>
            <li>
                <div class="dropdown-items">
                    <i class='bx bx-upload'></i>
                    <a href="/update">Update Post</a>
                </div>
            </li>
            <li>
                <div class="dropdown-items">
                    <i class='bx bxs-folder-minus'></i>
                    <a href="/delete">Delete Post</a>
                </div>
            </li>
        </ul>
  </nav>

    <label for="new"><h1>Create your post:</h1></label>
    <textarea type="text" id="new-title" name="title" maxlength="65">This is my first blog title!</textarea>
    <textarea type="text" id="new-post" name="new">This is my first blog!</textarea>
    <input id="submit-button" type="submit" value="Submit">
</form> 

<%- include("partials/footer.ejs") %>